<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <p> You have a new comment from Dev Match! It is from <%= "#{ @name }, at #{ @email }" %>. </p>
        <p> <%= "#{@body}" %> </p>  
    </body>
    
</html>